main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-board {
  display: grid;
  margin-top: 25px;
  justify-content: center;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  border: 2px black;
}

.space {
  border: 50px #000;
  height: 100px;
  width: 100px;
}
