body {
  background: #c31434;
  background: -webkit-linear-gradient(to bottom, #240b36, #c31434);
  background: linear-gradient(to bottom, #240b36, #c31434);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 50px;
  color: #927fa1;
}

h2 {
  color: #927fa1;
  text-align: center;
}

div {
  font-size: 100px;
}

.playericon {
  font-size: 50px;
}

.game-board {
  display: grid;
  margin-top: 25px;
  justify-content: center;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
}

.space {
  border: 2px solid #927fa1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  border-top: none;
  border-left: none;
}

.two {
  border-top: none;
}

.three {
  border-top: none;
  border-right: none;
}

.four {
  border-left: none;
}

.six {
  border-right: none;
}

.seven {
  border-left: none;
  border-bottom: none;
}

.eight {
  border-bottom: none;
}

.nine {
  border-right: none;
  border-bottom: none;
}



/* . */
